<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>ThyroidInsight</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="static/images/thyroidIcon.png" rel="icon">
  <!-- <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link rel="stylesheet" type="text/css" href="static/css/main.css">

</head>

<body class="index-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:2023184619@student.uitm.edu.my">2023184619@student.uitm.edu.my</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+60 13-444-5160</span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
        
          <a href="https://www.linkedin.com/in/azim-bin-md-nasib-b1114120b/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div><!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="#" class="logo d-flex align-items-center me-auto">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <!-- <img src="static/img/logo.png" alt=""> -->
          <div class=" col-md-6 ">
            <!-- Start Logo -->
            <div class="logo">
              <a href="#"><img src="static/images/logo.png" alt="#"></a>
            </div>
            <!-- End Logo -->
            <!-- Mobile Nav -->
            <div class="mobile-nav"></div>
            <!-- End Mobile Nav -->
          </div>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#" class="active">Home<br></a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#blog">News</a></li>
            <!-- <li><a href="#departments">Departments</a></li> -->
            <!-- <li><a href="#doctors">Doctors</a></li> -->
            <li class="dropdown"><a href="#"><span>More</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
              <ul>
                <li><a href="#departments">Thyroid Disease Types</a></li>
                <li><a href="#services">Thyroid Disease Factors</a></li>
              </ul>
            </li>
            <!-- <li><a href="#contact">Contact</a></li> -->
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <a class="cta-btn d-none d-sm-block" href="#dashboard">Dashboard</a>
        <a class="cta-btn d-none d-sm-block" href="/predict">Prediction</a>
        
        
      </div>

    </div>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <img src="static/images/testing.png" alt="" data-aos="fade-in">

      <div class="container position-relative">

        <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
          <h2><span style="color: #000000;">Welcome To </span><span style="color: #3381ff;">Thyroid</span><span style="color: #000000;">Insight</span></h2><br>
          <p>Platform for discovering insights on thyroid health and personalized <br>
            wellness.</p>
          <a href="#dashboard" class="btn-get-started scrollto">Go to dashboard</a>
          <a href="/predict" class="btn-get-started scrollto">Prediction</a>
        
          
        </div><!-- End Welcome -->
        

        

      </div>

    </section>
    <!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>About ThyroidInsight</h2>
        </div>

        <div class="row gy-4 gx-5">

          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200"><br><br><br><br>
            <img src="static/images/video.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=n_0hn8pf-Qo&ab_channel=SIMBAsimulation" class="glightbox pulsating-play-btn"></a>
          </div>

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p style="text-align: justify;">
              ThyroidInsight is leading the charge in advancing our understanding and management of thyroid disorders. 
              Our commitment reaches beyond research, focusing on enhancing public awareness through detailed data visualization. 
              Explore with us as we pioneer techniques to predict and manage thyroid health, empowering individuals with actionable 
              insights and setting the stage for a healthier future. Below, you can learn about the services ThyroidInsight provide:
          </p>
            <ul>
              <li>
                <i class="fa-solid fa-chart-line"></i>
                <div>
                  <h5>Interactive Dashboard</h5>
                  <p style="text-align: justify;">ThyroidInsight offers an interactive dashboard where users can delve into thyroid health in visual and engaging ways.</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-book-medical"></i>
                <div>
                  <h5>Extensive Information About Thyroid Disorders</h5>
                  <p style="text-align: justify;">Our platform provides comprehensive details on the types and factors contributing to thyroid disorders, helping users understand this critical aspect of health.</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-microscope"></i>
                <div>
                  <h5>Early Disease Detection</h5>
                  <p style="text-align: justify;">Utilize our tools to identify early signs of thyroid disorders. Our resources are designed to help you detect potential issues before they develop into serious conditions, facilitating early intervention and management.</p>
                </div>
              </li>
              <li>
                <i class="fa-solid fa-newspaper"></i>
                <div>
                  <h5>Latest News</h5>
                  <p style="text-align: justify;">Stay updated with the latest developments in thyroid health through our website, which provides current news and insights to keep you informed.</p>
                </div>
              </li>
            </ul>
            
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    
        <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section accent-background">
      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>What is thyroid disease?</h3>
              <p style= "font-size: 20px;">Thyroid disease refers to conditions where the thyroid gland doesn't produce the right amount of hormones.
                 The thyroid, a butterfly-shaped gland located at the front of the neck, is part of the endocrine system and regulates vital body functions 
                 by releasing hormones like thyroxine (T4) and triiodothyronine (T3). Its main role is to control metabolism through the process of converting food 
                 into energy. When the thyroid isn't functioning properly, it can affect the body's overall health and energy levels.</p>
              <a class="cta-btn" href="https://my.clevelandclinic.org/health/diseases/8541-thyroid-disease"target="_blank">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Call To Action Section -->



   <!-- Stats Section -->
<section id="stats" class="stats section light-background">
  <div class="container">
    <div class="section-title">
      <h2>Thyroid Disease Statistics</h2>
    </div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-solid fa-skull-crossbones"></i> <!-- Changed to represent death more clearly -->
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="43646" data-purecounter-duration="1" class="purecounter"></span>
            <p>Deaths per year</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-solid fa-person"></i> <!-- Changed to represent male patients -->
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="12500" data-purecounter-duration="1" class="purecounter"></span>
            <p>Male patients per year</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-solid fa-person-dress"></i> <!-- Changed to represent female patients -->
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="31520" data-purecounter-duration="1" class="purecounter"></span>
            <p>Female patients per year</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-solid fa-heart"></i> <!-- Changed to a heart to symbolize survival -->
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="98.4" data-purecounter-duration="1" class="purecounter"></span>
            <p>Percent relative survival</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-solid fa-calendar-day"></i> <!-- Represents a specific year -->
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="2170" data-purecounter-duration="1" class="purecounter"></span>
            <p>Estimated Deaths in 2024</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-solid fa-users"></i> <!-- Represents new cases/people -->
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="44020" data-purecounter-duration="1" class="purecounter"></span>
            <p>Estimated New Cases in 2024</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-solid fa-user-clock"></i> <!-- Represents age/time -->
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="51" data-purecounter-duration="1" class="purecounter"></span>
            <p>Average age with disease</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
          <i class="fa-solid fa-shield-virus"></i> <!-- Represents prevention/health -->
          <div class="stats-item">
            <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>
            <p>Percent preventable cases</p>
          </div>
        </div><!-- End Stats Item -->
      </div>
    </div>
  </div>
</section><!-- /Stats Section -->



  <!-- Start Blog Area -->
  <section class="blog section" id="blog">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>Thyroid Medical News</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single Blog -->
          <div class="single-news">
            <div class="news-head">
              <img src="static/images/gallery/gallery-1.jpg" alt="#">
            </div>
            <div class="news-body">
              <div class="news-content">
                <div class="date">
                  <a href="https://www.bharian.com.my/hujung-minggu/sihat/2024/05/1249714/50-peratus-individu-hidap-tiroid-tidak-didiagnosis" 
                     style="color: white;" target="_blank">Click here to read.</a>
                </div>                
                <h2>50 percent of individuals with thyroid cancer are undiagnosed.</h2>
                <p class="text">by Berita Harian</p>
                <p class="text">21 May 2024</p>
              </div>
            </div>
          </div>
          <!-- End Single Blog -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single Blog -->
          <div class="single-news">
            <div class="news-head">
              <img src="static/images/gallery/gallery-2.jpg" alt="#">
            </div>
            <div class="news-body">
              <div class="news-content">
                <div class="date">
                  <a href="https://www.astroawani.com/gaya-hidup/hipertiroidisme-penyakit-endokrin-kedua-sering-didiagnosis-selepas-diabetes-di-malaysia-471631" 
                     style="color: white;" target="_blank">Click here to read.</a>
                </div>                
                <h2>Hyperthyroidism is the second endocrine disease often diagnosed after diabetes in Malaysia.</h2>
                <p class="text">by Astro Awani</p>
                <p class="text">22 May 2024</p>
              </div>
            </div>
          </div>
          <!-- End Single Blog -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single Blog -->
          <div class="single-news">
            <div class="news-head">
              <img src="static/images/gallery/gallery-3.jpg" alt="#">
            </div>
            <div class="news-body">
              <div class="news-content">
                <div class="date">
                  <a href="https://www.utusan.com.my/gaya/2022/07/kenapa-wanita-lebih-ramai-hadapi-masalah-tiroid/" 
                     style="color: white;" target="_blank">Click here to read.</a>
                </div>                
                <h2>Why do more women face thyroid problems?</h2>
                <p class="text">by Utusan Malaysia</p>
                <p class="text">28 July 2022</p>
              </div>
            </div>
          </div>
          <!-- End Single Blog -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single Blog -->
          <div class="single-news">
            <div class="news-head">
              <img src="static/images/gallery/gallery-4.jpg" alt="#">
            </div>
            <div class="news-body">
              <div class="news-content">
                <div class="date">
                  <a href="https://www.news-medical.net/news/20240104/HPV-infection-linked-to-doubled-risk-of-thyroid-cancer.aspx" 
                     style="color: white;" target="_blank">Click here to read.</a>
                </div>                
                <h2>HPV infection linked to doubled risk of thyroid cancer.</h2>
                <p class="text">by News Medical</p>
                <p class="text">4 January 2024</p>
              </div>
            </div>
          </div>
          <!-- End Single Blog -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single Blog -->
          <div class="single-news">
            <div class="news-head">
              <img src="static/images/gallery/gallery-8.jpg" alt="#">
            </div>
            <div class="news-body">
              <div class="news-content">
                <div class="date">
                  <a href="https://www.iarc.who.int/news-events/the-challenging-investigation-of-risk-factors-for-thyroid-cancer/" 
                     style="color: white;" target="_blank">Click here to read.</a>
                </div>                
                <h2>Challenges in investigating risk factors for thyroid cancer.</h2>
                <p class="text">by International Agency for Research on Cancer (IARC)</p>
                <p class="text">21 December 2020</p>
              </div>
            </div>
          </div>
          <!-- End Single Blog -->
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Single Blog -->
          <div class="single-news">
            <div class="news-head">
              <img src="static/images/gallery/gallery-6.jpg" alt="#">
            </div>
            <div class="news-body">
              <div class="news-content">
                <div class="date">
                  <a href="https://www.sinarharian.com.my/article/43989/tiroid-berkait-penyakit-jantung" 
                     style="color: white;" target="_blank">Click here to read.</a>
                </div>                
                <h2>Thyroid and its connection to heart disease.</h2>
                <p class="text">by Sinar Harian</p>
                <p class="text">21 August 2019</p>
              </div>
            </div>
          </div>
          <!-- End Single Blog -->
        </div>
      </div>
    </div>
  </section>
  <!-- End Blog Area -->







<!-- Start Blog Area -->
<section class="blog section" id="dashboard">
  <div class="container">
    <div class="section-title">
      <h2>Dashboard</h2>
      <p>Explore our interactive Power BI visualizations to gain valuable insights into thyroid health. Analyze data, uncover trends, and make informed decisions to improve thyroid function. </p><br><br>
      <iframe title="Thyroid Insgiht" style="height: 80vh;" width="100%" src="https://app.powerbi.com/view?r=eyJrIjoiZDU1ZGU1ZDUtOTY4ZC00YTkyLThjZWMtOWYxYWNjNmI1YzU5IiwidCI6ImNkY2JiMGUyLTlmZWEtNGY1NC04NjcwLTY3MjcwNzc5N2FkYSIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
      </div>
    </div>
  </div>
</section>
<!-- End Blog Area -->

    <!-- Departments Section -->
    <section id="departments" class="departments section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Thyroid Disease Types</h2>
        <p>Explore in-depth insights on various types of thyroid disorders. Understand the risk and symptoms for each condition, 
          empowering yourself with the knowledge needed to protect your thyroid health and overall well being.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Hyperthyroidism</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Hypothyroidism</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Thyroid Nodules</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Goiter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Hashimoto's Thyroiditis</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="departments-tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Hyperthyroidism</h3>
                    <p class="fst-italic">Hyperthyroidism happens when the thyroid gland produce too much thyroid hormone. This condition also is called overactive thyroid.</p>
                    <p><strong>Who is at risk for hyperthyroidism?</strong><br>
                      You are at higher risk for hyperthyroidism if you:</p>
                      <ul>
                        <li>Are a woman.</li>
                        <li>Are older than age 60.</li>
                        <li>Have been pregnant or had a baby within the past 6 months.</li>
                        <li>Have a family history of thyroid disease.</li>
                        <li>Have pernicious anemia, in which the body cannot make enough healthy red blood cells because it does not have enough vitamin B12.</li>
                        <li>Have type 1 diabetes or primary adrenal insufficiency, a hormonal disorder.</li>
                        <li>Get too much iodine, from eating large amounts of foods containing iodine or using iodine-containing medicines or supplements.</li>
                      </ul>
                      <p><strong>What are the symptoms of hyperthyroidism?</strong><br>
                        The symptoms of hyperthyroidism can vary from person to person and may include:</p>
                        <ul>
                          <li>Nervousness or irritability.</li>
                          <li>Fatigue.</li>
                          <li>Muscle weakness.</li>
                          <li>Trouble tolerating heat.</li>
                          <li>Trouble sleeping.</li>
                          <li>Rapid and irregular heartbeat.</li>
                          <li>Weight loss.</li>
                        </ul>
                  </div>
                  
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/images/hyperthyroid.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Hypothyroidism</h3>
                    <p class="fst-italic">Hypothyroidism is a condition in which the thyroid gland does not produce enough thyroid hormones. Hypothyroidism is often called underactive thyroid.</p>
                    <p><strong>Who is at risk for hypothyroidism?</strong><br>
                      You are at higher risk for hypothyroidism if you:</p>
                      <ul>
                        <li>Are a woman.</li>
                        <li>Are older than age 60.</li>
                        <li>Have been pregnant or had a baby within the past 6 months.</li>
                        <li>Have a family history of thyroid disease.</li>
                        <li>Have autoimmune conditions like Hashimoto’s thyroiditis.</li>
                        <li>Had radiation treatment to your neck or upper chest.</li>
                        <li>Had thyroid surgery or a thyroid problem like goiter.</li>
                        <li>Have been treated with radioactive iodine or antithyroid medications.</li>
                        <li>Are deficient in iodine treatment.</li>
                      </ul>
                      <p><strong>What are the symptoms of hypothyroidism?</strong><br>
                        The symptoms of hypothyroidism can vary from person to person and may include:</p>
                      <ul>
                        <li>Fatigue.</li>
                        <li>Weight gain.</li>
                        <li>Sensitivity to cold.</li>
                        <li>Muscle weakness.</li>
                        <li>Dry skin and hair.</li>
                        <li>Constipation.</li>
                        <li>Depression.</li>
                        <li>Slowed heart rate.</li>
                        <li>Hoarseness.</li>
                      </ul>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/images/hypothyroid.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Thyroid Nodules</h3>
                    <p class="fst-italic">Thyroid nodules are lumps that form within the thyroid, which can be solid or fluid-filled. While most nodules are benign, some can be cancerous.</p>
                    <p><strong>Who is at risk for thyroid nodules?</strong><br>
                      You are at higher risk for thyroid nodules if you:</p>
                      <ul>
                        <li>Are a woman.</li>
                        <li>Are older than age 60.</li>
                        <li>Have a family history of thyroid nodules or thyroid cancer.</li>
                        <li>Have been exposed to radiation, especially in childhood.</li>
                        <li>Have iodine treatment deficiency.</li>
                        <li>Have a history of thyroid disorders, such as goiter.</li>
                      </ul>
                      <p><strong>What are the symptoms of thyroid nodules?</strong><br>
                        Many thyroid nodules don’t cause noticeable symptoms. However, symptoms may include:</p>
                      <ul>
                        <li>A lump or swelling in the neck.</li>
                        <li>Difficulty swallowing or breathing.</li>
                        <li>Hoarseness or voice changes.</li>
                        <li>Throat pain.</li>
                        <li>Overproduction of thyroid hormones, which can lead to symptoms of hyperthyroidism.</li>
                      </ul>
                      
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/images/thyroidnodules.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Goiter</h3>
                    <p class="fst-italic">Goiter is an abnormal enlargement of the thyroid gland. While it is usually painless, a large goiter can cause discomfort and difficulty with breathing or swallowing.</p>
                    <p><strong>Who is at risk for goiter?</strong><br>
                      You are at higher risk for goiter if you:</p>
                      <ul>
                        <li>Are a woman.</li>
                        <li>Have iodine deficiency.</li>
                        <li>Are older than age 40.</li>
                        <li>Have a family history of goiter or thyroid disease.</li>
                        <li>Have autoimmune thyroid disease, such as Graves’ disease or Hashimoto’s thyroiditis.</li>
                        <li>Are pregnant or going through menopause, due to hormonal changes.</li>
                        <li>Have been exposed to radiation to the neck or chest.</li>
                      </ul>
                      <p><strong>What are the symptoms of goiter?</strong><br>
                        The symptoms of goiter can vary depending on the size and impact of the enlargement. They may include:</p>
                      <ul>
                        <li>Visible swelling at the base of the neck.</li>
                        <li>Tightness in the throat.</li>
                        <li>Difficulty swallowing or breathing.</li>
                        <li>Hoarseness.</li>
                        <li>Frequently coughing.</li>
                      </ul>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/images/goiter.png" width="400" height="400">

                  </div>
                </div>
              </div>
              <div class="tab-pane" id="departments-tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Hashimoto's Thyroiditis</h3>
                    <p class="fst-italic">Hashimoto's thyroiditis is an autoimmune disorder in which the immune system attacks the thyroid gland, leading to inflammation and often causing hypothyroidism over time.</p>
                    <p><strong>Who is at risk for Hashimoto's thyroiditis?</strong><br>
                      You are at higher risk for Hashimoto's thyroiditis if you:</p>
                      <ul>
                        <li>Are a woman.</li>
                        <li>Have a family history of thyroid disease or autoimmune disorders.</li>
                        <li>Are middle-aged (although it can affect younger individuals as well).</li>
                        <li>Have another autoimmune disease, such as type 1 diabetes.</li>
                        <li>Have been exposed to radiation in the neck or upper chest.</li>
                      </ul>
                      
                      <p><strong>What are the symptoms of Hashimoto's thyroiditis?</strong><br>
                        The symptoms of Hashimoto's thyroiditis often develop slowly over time and may include:</p>
                      <ul>
                        <li>Fatigue.</li>
                        <li>Weight gain.</li>
                        <li>Sensitivity to cold.</li>
                        <li>Dry skin.</li>
                        <li>Hair loss.</li>
                        <li>Muscle weakness.</li>
                        <li>Depression.</li>
                        <li>Enlarged thyroid (goiter).</li>
                      </ul>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="static/images/hashimoto.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Departments Section -->

    <!-- Doctors Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Thyroid Disease Factors</h2>
        <p>Explore key factors influencing thyroid health and disease risk. Learn how lifestyle, genetics, and environment impact thyroid function, and empower yourself to make better choices for thyroid health.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-sliders"></i>
              </div>
              <h3>Hormonal Imbalances</h3>
              <p style="text-align: justify;">High or low levels of thyroid hormones can be influenced by other hormonal fluctuations, particularly during pregnancy, menopause, or puberty, affecting overall thyroid health.
              </p>
              
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-smoking"></i>
              </div>
              <h3>Smoking</h3>
              <p style="text-align: justify;">Smoking affects thyroid function by increasing the risk of thyroid hormone imbalances and autoimmune thyroid diseases. It can also affect iodine absorption, which is crucial for thyroid health.</p>
             
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <h3>High Stress Levels</h3>
              <p style="text-align: justify;">Chronic stress can negatively impact the thyroid by increasing cortisol levels, which may suppress thyroid function and contribute to hypothyroidism or other thyroid disorders.</p>
             
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa fa-burger"></i>
              </div>
              <h3>Unhealthy Diet</h3>
              <p style="text-align: justify;">A diet low in iodine, selenium, and other key nutrients can increase the risk of thyroid dysfunction. Foods high in goitrogens, such as soy or cruciferous vegetables in large amounts, can interfere with thyroid hormone production.</p>
            
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-person-slash"></i>
              </div>
              <h3>Physical Inactivity</h3>
              <p style="text-align: justify;">Lack of regular exercise is associated with an increased risk of thyroid imbalances, contributing to weight gain and fatigue, common symptoms of hypothyroidism.</p>
              
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa fa-people-roof"></i>
              </div>
              <h3>Family History and Genetics</h3>
              <p style="text-align: justify;">A family history of thyroid disorders, such as autoimmune diseases like Hashimoto's thyroiditis or Graves' disease, increases the likelihood of developing similar thyroid conditions.</p>
              
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
        

    </section><!-- /Doctors Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>Frequently asked questions about thyroid disease and related concerns.</p>
</div><!-- End Section Title -->

<div class="container">

  <div class="row justify-content-center">

    <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

      <div class="faq-container">

        <div class="faq-item faq-active">
          <h3>What are the common types of thyroid diseases?</h3>
          <div class="faq-content">
            <p>The most common thyroid diseases include hypothyroidism (underactive thyroid), hyperthyroidism (overactive thyroid), Hashimoto’s thyroiditis (autoimmune hypothyroidism), and Graves’ disease (autoimmune hyperthyroidism).</p>
          </div>
          <i class="faq-toggle bi bi-chevron-right"></i>
        </div><!-- End Faq item-->

        <div class="faq-item">
          <h3>What are the symptoms of hyperthyroidism?</h3>
          <div class="faq-content">
            <p>Symptoms of hyperthyroidism include weight loss, increased appetite, nervousness, irritability, rapid heartbeat, sweating, and difficulty sleeping. If you notice these symptoms, consult a doctor for medical check-ups.</p>
          </div>
          <i class="faq-toggle bi bi-chevron-right"></i>
        </div><!-- End Faq item-->

        <div class="faq-item">
          <h3>How is hypothyroidism diagnosed?</h3>
          <div class="faq-content">
            <p>Hypothyroidism is diagnosed through blood tests that measure levels of thyroid hormones (T3, T4) and thyroid-stimulating hormone (TSH). High TSH and low T4 levels often indicate hypothyroidism.</p>
          </div>
          <i class="faq-toggle bi bi-chevron-right"></i>
        </div><!-- End Faq item-->

        <div class="faq-item">
          <h3>Can thyroid disease affect pregnancy?</h3>
          <div class="faq-content">
            <p>Yes, thyroid problems can affect pregnancy. If not treated, hypothyroidism (an underactive thyroid) can cause issues like miscarriage, high blood pressure (preeclampsia), and early delivery. It's important to get proper treatment and regular check-ups during pregnancy to avoid complications.</p>
          </div>
          <i class="faq-toggle bi bi-chevron-right"></i>
        </div><!-- End Faq item-->

        <div class="faq-item">
          <h3>Is thyroid cancer common?</h3>
          <div class="faq-content">
            <p>Thyroid cancer is relatively rare compared to other cancers, but it is the most common cancer of the endocrine system. It is often treatable and has a high survival rate, especially if caught early.</p>
          </div>
          <i class="faq-toggle bi bi-chevron-right"></i>
        </div><!-- End Faq item-->

        <div class="faq-item">
          <h3>What lifestyle changes can improve thyroid health?</h3>
          <div class="faq-content">
            <p>To improve thyroid health, focus on maintaining a balanced diet rich in iodine, selenium, and zinc through foods like seaweed, dairy, nuts, and fish. Managing stress with practices such as meditation, yoga, or regular exercise is essential, as chronic stress can affect thyroid function. Avoid smoking, which can negatively impact thyroid health, and engage in regular physical activity to support metabolism and maintain overall health. Additionally, keep chronic conditions like diabetes, autoimmune diseases, and high blood pressure under control, as they can affect thyroid function. Finally, schedule regular check-ups with your healthcare provider to monitor thyroid health, particularly if you have a history of thyroid issues.</p>
          </div>
          <i class="faq-toggle bi bi-chevron-right"></i>
        </div><!-- End Faq item-->

      </div>

    </div><!-- End Faq Column-->

  </div>

</div>

        

    </section><!-- /Faq Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
            <h3>Testimonials</h3>
            <p>
              Thank you to all who have shared their experiences using this website. Hear from users who have gained valuable insights and knowledge, 
              and see how our platform has helped improve their understanding and well-being.
            </p>
          </div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/images/testimonials/shaikh.png" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Shaikh Danial</h3>
      
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Good platform to help me become more aware of thyroid health since it was a topic that I am unfamiliar with.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/images/testimonials/harith.png" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Harith Danial</h3>
                       
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>The insights provided have genuinely helped me take steps towards better health management.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/images/testimonials/Alia.png" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Alia Yasmin</h3>
                        
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Good website and dashboard. Many information about thyroid and new knowledge for me.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/images/testimonials/Hariz.png" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>hariz</h3>
                       
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>The platform provides many of valuable information, perfect for anyone looking to learn more about thyroid health.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="static/images/testimonials/Armi.png" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Armi Afiq</h3>
                        
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>The design is professional and visually appealing.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

      </div>
            

    </section><!-- /Testimonials Section -->

    

    

  </main>

  <footer id="footer" class="footer light-background">

 
      
        

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">ThyroidInsight</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        
        
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>